{{block "Phasmo" .BaseInfo}} 
<link id="style" hx-swap-oob="true" rel="stylesheet" href="/static/view/css/phasmo.css">
<div class="PhasmoRoot">
    <div class="PhasmoHeader">
        <div class="PhasmoTitle">
            <h1>Welcome to Phasmo</h1>
        </div>
    </div>
<hr/>
    <div class="EvidenceContainer">
        {{template "EvidenceTmpl" . }}
    </div>
<hr/>
    <div class="GhostContainer">
        {{template "GhostsTmpl" .}}
    </div>
</div>
</div>
{{end}}

{{block "EvidenceTmpl" . }}
    {{range .Evidences}}
        <div class="Evidence">
            <label>{{.EvidenceName}}</label>
        </div>
    {{end}}
{{end}}



{{ block "GhostsTmpl" . }}
    {{range .Ghosts }}
    <div class="Ghost">            
        <div class="GhostName"><h2>{{.GhostName}}</h2></div>
            <div class="GhostEvidenceList">
            {{range .GhostEvidence}}
                <div>{{.}}</div>
            {{end}} 
            </div>
        <div class="GhostTipsDiv">
            <ul>
                {{range .Tips}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
    </div>
    {{end}}
{{end}}