body{
    margin: 0;
}
.SelectGame{
    padding: 0;
    margin: 0;
    background-color: #021526;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SelectGameBox{
background-color: #6EACDA;
padding: 60px;
border-radius: 25px;
display: flex;
flex-direction: column;
gap: 10px;


button{
    background-color: #E2E2B6;
    border-radius: 25px;
    border-top: 0;
    border-left: 0;
    padding: 10px;
}
}
.GameSelectMsg{
    display: flex;
    justify-content: center;
}

.GameSelectBtns{
    display: flex;
    justify-content: center;
    gap: 20px;
}