

body{
    margin: 0;
}
.PhasmoRoot{
    padding: 0;
    margin: 0;
    background-color: #27374D;
    min-height: 100vh;
    min-width: 95vw;
    position: absolute;
    color: #DDE6ED;
}


.PhasmoHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

hr{
    border-color:#DDE6ED;
}

.EvidenceContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.Evidence {
    background-color: #526D82;
    border-radius: 10px;
    padding: 20px;
}


.GhostContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.Ghost{
    background-color: #526D82;
    border-radius: 10px;
    min-width: 20vw;
    min-height: 20vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .GhostName{
        color: #27374D;
        align-self: center;

    }
    .GhostEvidenceList{
        padding: 10px;
        background-color: #27374D;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;

    }

    .GhostTipsDiv{
        background-color: #27374D;
        border-radius: 10px;
        ul{
            list-style-type: none;
        }
    }

}

