

body{
    margin: 0;
}
.PhasmoRoot{
    padding: 0;
    margin: 0;
    background-color: #082032;
    min-height: 100vh;
    min-width: 95vw;
    position: absolute;
    color: #ffffff;
}


.PhasmoHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

hr{
    border-color:#FF4C29;
}

.EvidenceContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
}

.Evidence {
    background-color: #2C394B;
    border-radius: 10px;
    padding: 20px;
}


.GhostContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.Ghost{
    background-color: #2C394B;
    border-radius: 10px;
    min-width: 500px;
    min-height: 200px;
    max-width: 500px;
    padding: 10px;
            display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

    .GhostName{ 
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .GhostEvidenceList{
        width: 100%;
        display: flex;
        justify-content: space-around;

        .GhostEvidenceSingle{
            background-color: #082032;
            width: 110px;
            height: 40px;
            border-style: solid;
            border-width: 2px;
            border-color:#FF4C29;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .GhostTipsDiv{
        width: 100%;
        ul{
            list-style-type: none;
        }
    }
    hr{
        width: 100%;
    }

}

