
.PhasmoRoot{
    padding: 0;
    margin: 0;
    background-color: #191919;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    color: #BED754;
}

.Evidence {
    background-color: #750E21;
}

.Ghost{
    background-color: #750E21;
}